name: Test

on: [push, pull_request]

jobs:
  test-install:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    name: Test on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Install fast-down
        uses: ./

      - name: Verify Installation
        run: fd -h

      - name: Try download a file
        run: |
          fd https://www.google.com/robots.txt -o robots.txt
          cat robots.txt
